@tailwind base;
@tailwind components;
@tailwind utilities;

.min-w-screen-md {
    min-width: 768px;
}

.flex-sizing {
    flex: 0 0 75%;
}

@keyframes {
    0% {background-color: transparent;}
  49% {background-color: transparent;}
  50% {background-color: #FF0066;}
}
